html {
  height: 100%;
}
body {
  height: 100%;
  background: url(../img/pattern.png) repeat;
  font:normal 1em 'fira_sanslight';
  color: #4a545d;
}

/* Footer */
.page-footer{
  background: #eff3f7 url(../img/line.png) top center no-repeat;
  font-family: 'fira_sanslight';
  color: #4a545d;
}
.page-footer .container {
  padding-top: 23px;
  position: relative;
}
.page-footer .copyright{
  margin: 0 180px;
  padding-top: 7px;
  text-align: center;
  font-size: 13px;
}

/* Login */
.page-footer .lock{
  position: absolute;
  top: 26px;
  left: 20px;
}
.lock .lock-inner{
  display: block;
  height: 40px;
  font-family: 'fira_sanbook';
  font-size: 16px;
  line-height: 2.2;
  color: #4a545d;
  text-decoration: none;
  background: url(../img/lock-close.png) no-repeat;
  padding-left: 24px;
}
.lock .lock-inner:hover{
  text-decoration: underline;
  background: url(../img/lock-open.png) no-repeat;
}

/* General classes */
.container {
  width: 960px;

}
